aiofiles==23.2.1
annotated-types==0.6.0
anyio==4.2.0
attrs==23.1.0
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
distro==1.8.0
filelock==3.13.1
fonttools==4.46.0
fsspec==2023.12.2
h11==0.14.0
httpcore==1.0.2
httpx==0.25.2
huggingface-hub==0.19.4
HyperPyYAML==1.2.2
idna==3.6
Jinja2==3.1.2
joblib==1.3.2
jsonrpcclient==4.0.3
jsonrpclient==0.1.3
jsonrpcserver==5.0.9
jsonschema==4.20.0
jsonschema-specifications==2023.12.1
MarkupSafe==2.1.3
mpmath==1.3.0
MrEventLoop @ git+https://github.com/olekli/MrEventLoop.git@main
networkx==3.2.1
numpy==1.26.2
openai==1.4.0
OSlash==0.6.3
packaging==23.2
prompt-toolkit==3.0.43
pycparser==2.21
pydantic==2.5.2
pydantic_core==2.14.5
pydub==0.25.1
python-dotenv==1.0.0
PyYAML==6.0.1
pyzmq==25.1.2
referencing==0.32.0
requests==2.31.0
rpds-py==0.15.2
ruamel.yaml==0.18.5
ruamel.yaml.clib==0.2.8
rubicon-objc==0.4.7
scipy==1.11.4
sentencepiece==0.1.99
sniffio==1.3.0
sounddevice==0.4.6
speechbrain==0.5.16
sympy==1.12
toga==0.4.0
toga-cocoa==0.4.0
toga-core==0.4.0
torch==2.1.2
torchaudio==2.1.2
tqdm==4.66.1
travertino==0.3.0
typing_extensions==4.9.0
urllib3==2.1.0
wcwidth==0.2.12
zmq==0.0.0
